In [3]:
print("Hello World!")

Hello World!

In [7]:
#comment
#this is just information
#this is non executable part of program
#print() is used to display output on screen
#metadata: data about data

# heading

ggkjblkjyh

In [8]:
print("enclose all characters in quatations")

enclose all characters in quatations

In [10]:
print("print() is function")

print() is function

In [11]:
print("12345678910")

12345678910

In [12]:
#arithmetic operations
#+, -, *,/
#addition,subtraction,multiplication and division

In [14]:
10 + 20

30

In [15]:
10 -5

5

In [16]:
10 * 10

100

In [17]:
100 / 5

20.0

In [18]:
# exponential 
# 3 ** 4:- 3 raised to power 4

4 ** 2

16

In [19]:
3 ** 3

27

In [21]:
100 ** 2

10000

In [22]:
#'words'
#"sentence"
#'''paragraph'''

In [23]:
230 / 2

115.0

In [24]:
230 % 2

0

In [25]:
#addition +
#subtraction -
#multiplication *
#division /
#exponential **
#modulus %

In [26]:
135/2

67.5

In [27]:
135 // 2 #integer division

67

In [30]:
142//5

28

In [31]:
57//4

14

In [33]:
57/4

14.25

In [34]:
17 % 2

1

In [36]:
print(12/4)

3.0

In [40]:
print(45 * 3)
print(56 / 8)

135
7.0

# Variable

In [44]:
a = 12 + 4
print(a)

#memory block which holds value
#Its value can chnage

16

In [46]:
a =45
print(a)

45

In [47]:
name = "amruta"
print(name)

amruta

In [49]:
f1 = 45.897
print(f1)

45.897

In [50]:
#should start with character 
#should not start with number 
#can make use of underscore(_)
#should not include space
#max character is 8

In [51]:
response = " understood"
print(response)

 understood

In [55]:
#declaration 
a  #declaration
a=5 #initialization : passing value to variable
print(a) #printing value , a as variable
print("a")#a as text

5
a

In [56]:
print(10+2)
print(10-2)
print(10 * 2)
print(10/2)
print(10**2)
print(10%2)

12
8
20
5.0
100
0

In [61]:
a = 10
b = 2
c=a+b
print(c)
print("Addition:",c)
print("Addition:c")
print(c ** 2)

12
Addition: 12
Addition:c
144

In [66]:
import math

In [67]:
math.sqrt(36) #sqrt() to get square root

6.0

In [68]:
#pythagorus
#c^2 = a^2+b^2
#c=sqrt(a^2+b^2)


a=3
b=4
c=math.sqrt(a**2 + b**2)
print("hypotaneous",c)

hypotaneous 5.0

In [72]:
a = 5.7
f = 45.67
c = "character"

print(type(a))
print(type(f))
print(type(c))

<class 'float'>
<class 'float'>
<class 'str'>

# input statement

In [83]:
n = input("enter anything")
print(n)
print(type(n))

enter anything45
45
<class 'str'>

In [81]:
a = input("enter number")
b = input("enter number")

c=a+b
print("addition",c)

enter number23
enter number45
addition 2345

In [84]:
a = int(input("enter number"))
print(type(a))

enter number89
<class 'int'>

In [85]:
a = int(input("enter number")) #type casting
b = int(input("enter number"))

c=a+b
print("Addition",c)

enter number23
enter number45
Addition 68