In [4]:
#factorial
n=int(input("enter number"))
i=1
f=1
while i<=n:
    f=f*i
    i=i+1
    
print(f)

enter number12
479001600

In [3]:
#factorial of 6
n=int(input("enter the number"))
i=1
while i<=10:
    print(n,"*",i,"-",n*i)
    i=i+1

enter the number6
6 * 1 - 6
6 * 2 - 12
6 * 3 - 18
6 * 4 - 24
6 * 5 - 30
6 * 6 - 36
6 * 7 - 42
6 * 8 - 48
6 * 9 - 54
6 * 10 - 60

In [2]:
#series of square
n=int(input("enetr the number"))
i=1
while i<=n:
    print(i*i,end=" ")
    i=i+1

enetr the number25
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625

In [9]:
#reverse series
n=int(input("enter the number"))
r=0
while n>0:
    r=n%10
    print(r,end="")
    n=n//10

enter the number10
01

In [11]:
n=int(input("enter no of terms u want in fibonacci series"))
f1=0
f2=1
print(f1)
print(f2)
term=3
while term<=n:
    f3=f1+f2
    print(f3)
    f1=f2
    f2=f3
    term=term+1

enter no of terms u want in fibonacci series15
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [4]:
#palindrome Number 
print("Enter the Number: ")
num=int(input())
rev=0
temp=num
while temp>0:
    rem=temp%10
    rev=rem+(rev*10)
    temp=int(temp/10)
if rev==num:
    print("\nIt is a P Number")
else:
    print("\nIt is not a P Number")

Enter the Number:
121

It is a P Number

In [6]:
n=121
num=n
rv=0

while n>0:
    r=n%10
    rv=rv*10+r
    n=n//10


if rv==num:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [7]:
#armstrong
n=int(input("enter number"))
num=n
sum=0

while n>0:
    r=n%10
    sum=sum+r**3
    n=n//10


if sum==num:
    print("Armstrong")
else:
    print("not armstrong")

enter number125
not armstrong

In [8]:
#only even number (armstrong)
n=125
while n>0:
    r=n%10
    if r%2==0:
        print(r,end=" ")
    n=n//10

2

In [11]:
#sum (Armstrong)
n=125
sum=0
while n>0:
    r=n%10
    sum=sum+r
    n=n//10
    
print(sum)

8

In [10]:
#sequence of charcaters is known as string
#anything written in '',"",''' ''',"""""" is string
#used to manage text, character data etc

In [12]:
name = 'amruta'
name2 = "amruta"
name
name == name2

True

In [13]:
n="123456789"
type(n)
roll_no = "IT1002"
type(roll_no)

str

In [15]:
#in string index starts with 0 to n-1
#0-n-1 indexing called as forward indexing
#when you want to access last element you can perform backward indexing (negative indexing)
#negative indexing starts with -1

In [18]:
name ="amruta"
name[0]
#space is character
name[1] = a
name[4]=t
name[-1] = a
name[-2]=t

't'

In [11]:
#slicing
#start:end(3 is not inclusive) 0-1-2

name [0:3] 

name [1:2]

NameError: name 'name' is not defined

In [6]:
ord('A')

65

In [7]:
data = "this is string , lets learn it"
len(data)

30

In [8]:
data.lower()

'this is string , lets learn it'

In [9]:
data.upper()

'THIS IS STRING , LETS LEARN IT'

In [12]:
data= "hi mam"
len(data)

6

In [13]:
data.upper()

'HI MAM'

In [15]:
name ="jones"
name[0]

'j'

In [16]:
name[-2]

'e'

In [17]:
name[2:-3]

''

In [18]:
# Python String Operations
str1 = 'Hello'
str2 =' World!'
str3=str1 + str2
# using +
#concatenation

print('str1 + str2 = ', str3)

str1 + str2 =  Hello World!

In [19]:
# using *
#repeatition
print('str1 * 3 =', str1 * 5)

str1 * 3 = HelloHelloHelloHelloHello

In [20]:
for i in str3:
    print(i)

H
e
l
l
o

W
o
r
l
d
!

In [21]:
if 'Hello' in str1:
    print("present")
else:
    print("not present")

present

In [22]:
if 'hello' not in str1:
    print("not present")
else:
    print("present")

not present

In [23]:
str.capitalize("hello world")

'Hello world'

In [24]:
str1.find("l")

2

In [25]:
str1.replace("H","Y")

'Yello'

In [26]:
data = "this is string , lets learn it"
data.split(" ")

['this', 'is', 'string', ',', 'lets', 'learn', 'it']

In [27]:
for d in data:
    print(d)

t
h
i
s

i
s

s
t
r
i
n
g

,

l
e
t
s

l
e
a
r
n

i
t

In [28]:
l=0
for d in data:
    l=l+1
    
print(l)

30

In [29]:
l=0
for d in data:
    l=l+1
    
print(l)

30

In [30]:
len(data) #no of characters present in string

30

In [31]:
data= """Hi this is jones from trichy i have complete mechanical engineering and waorking as recuriter in one of the famous company,im earning as much as im satisfied and also im persuing data analyst from edubridge to get a knowledge about data analyst"""
data.split(" ")

['Hi',
 'this',
 'is',
 'jones',
 'from',
 'trichy',
 'i',
 'have',
 'complete',
 'mechanical',
 'engineering',
 'and',
 'waorking',
 'as',
 'recuriter',
 'in',
 'one',
 'of',
 'the',
 'famous',
 'company,im',
 'earning',
 'as',
 'much',
 'as',
 'im',
 'satisfied',
 'and',
 'also',
 'im',
 'persuing',
 'data',
 'analyst',
 'from',
 'edubridge',
 'to',
 'get',
 'a',
 'knowledge',
 'about',
 'data',
 'analyst']

In [32]:
for d in data:
    print(d)

H
i

t
h
i
s

i
s

j
o
n
e
s

f
r
o
m

t
r
i
c
h
y

i

h
a
v
e

c
o
m
p
l
e
t
e

m
e
c
h
a
n
i
c
a
l

e
n
g
i
n
e
e
r
i
n
g

a
n
d

w
a
o
r
k
i
n
g

a
s

r
e
c
u
r
i
t
e
r

i
n

o
n
e

o
f

t
h
e

f
a
m
o
u
s

c
o
m
p
a
n
y
,
i
m

e
a
r
n
i
n
g

a
s

m
u
c
h

a
s

i
m

s
a
t
i
s
f
i
e
d

a
n
d

a
l
s
o

i
m

p
e
r
s
u
i
n
g

d
a
t
a

a
n
a
l
y
s
t

f
r
o
m

e
d
u
b
r
i
d
g
e

t
o

g
e
t

a

k
n
o
w
l
e
d
g
e

a
b
o
u
t

d
a
t
a

a
n
a
l
y
s
t

In [33]:
l=0
for d in data:
    l=l+1
    
print(l)

244

In [34]:
len(data)

244

In [38]:
data[24:-33]

'ichy i have complete mechanical engineering and waorking as recuriter in one of the famous company,im earning as much as im satisfied and also im persuing data analyst from edubridge to g'

In [39]:
newstr='''this is one line.
this is second line.
This is third line.'''

lines=newstr.split('\n')
print(lines)

['this is one line.', 'this is second line.', 'This is third line.']

In [40]:
count=0
for i in lines:
    count=count+1
    
print(count)

3

In [41]:
newstr.title()

'This Is One Line.\nThis Is Second Line.\nThis Is Third Line.'

In [42]:
newstr.capitalize()

'This is one line.\nthis is second line.\nthis is third line.'

In [43]:
newstr.upper()

'THIS IS ONE LINE.\nTHIS IS SECOND LINE.\nTHIS IS THIRD LINE.'

In [44]:
newstr.lower()

'this is one line.\nthis is second line.\nthis is third line.'

In [45]:
new2=newstr.replace("t","T")
print(new2)

This is one line.
This is second line.
This is Third line.

In [46]:
new2.replace('T','I')

'Ihis is one line.\nIhis is second line.\nIhis is Ihird line.'

In [47]:
data= """In computer programming, a string is traditionally a sequence of characters, either as a literal constant or as some kind of variable. The latter may allow its elements to be mutated and the length changed, or it may be fixed (after creation). A string is generally considered as a data type and is often implemented as an array data structure of bytes (or words) that stores a sequence of elements, typically characters, using some character encoding. String may also denote more general arrays or other sequence (or list) data types and structures.
Depending on the programming language and precise data type used, a variable declared to be a string may either cause storage in memory to be statically allocated for a predetermined maximum length or employ dynamic allocation to allow it to hold a variable number of elements.
"""
len(data)

829

In [51]:
data= """In computer programming, a string is traditionally a sequence of characters, either as a literal constant or as some kind of variable. The latter may allow its elements to be mutated and the length changed, or it may be fixed (after creation). A string is generally considered as a data type and is often implemented as an array data structure of bytes (or words) that stores a sequence of elements, typically characters, using some character encoding. String may also denote more general arrays or other sequence (or list) data types and structures.
Depending on the programming language and precise data type used, a variable declared to be a string may either cause storage in memory to be statically allocated for a predetermined maximum length or employ dynamic allocation to allow it to hold a variable number of elements.
"""
data.replace("string","STRING")

'In computer programming, a STRING is traditionally a sequence of characters, either as a literal constant or as some kind of variable. The latter may allow its elements to be mutated and the length changed, or it may be fixed (after creation). A STRING is generally considered as a data type and is often implemented as an array data structure of bytes (or words) that stores a sequence of elements, typically characters, using some character encoding. String may also denote more general arrays or other sequence (or list) data types and structures.\nDepending on the programming language and precise data type used, a variable declared to be a STRING may either cause storage in memory to be statically allocated for a predetermined maximum length or employ dynamic allocation to allow it to hold a variable number of elements.\n'

In [52]:
data= """In computer programming, a string is traditionally a sequence of characters, either as a literal constant or as some kind of variable. The latter may allow its elements to be mutated and the length changed, or it may be fixed (after creation). A string is generally considered as a data type and is often implemented as an array data structure of bytes (or words) that stores a sequence of elements, typically characters, using some character encoding. String may also denote more general arrays or other sequence (or list) data types and structures.
Depending on the programming language and precise data type used, a variable declared to be a string may either cause storage in memory to be statically allocated for a predetermined maximum length or employ dynamic allocation to allow it to hold a variable number of elements.
"""
data. split()

['In',
 'computer',
 'programming,',
 'a',
 'string',
 'is',
 'traditionally',
 'a',
 'sequence',
 'of',
 'characters,',
 'either',
 'as',
 'a',
 'literal',
 'constant',
 'or',
 'as',
 'some',
 'kind',
 'of',
 'variable.',
 'The',
 'latter',
 'may',
 'allow',
 'its',
 'elements',
 'to',
 'be',
 'mutated',
 'and',
 'the',
 'length',
 'changed,',
 'or',
 'it',
 'may',
 'be',
 'fixed',
 '(after',
 'creation).',
 'A',
 'string',
 'is',
 'generally',
 'considered',
 'as',
 'a',
 'data',
 'type',
 'and',
 'is',
 'often',
 'implemented',
 'as',
 'an',
 'array',
 'data',
 'structure',
 'of',
 'bytes',
 '(or',
 'words)',
 'that',
 'stores',
 'a',
 'sequence',
 'of',
 'elements,',
 'typically',
 'characters,',
 'using',
 'some',
 'character',
 'encoding.',
 'String',
 'may',
 'also',
 'denote',
 'more',
 'general',
 'arrays',
 'or',
 'other',
 'sequence',
 '(or',
 'list)',
 'data',
 'types',
 'and',
 'structures.',
 'Depending',
 'on',
 'the',
 'programming',
 'language',
 'and',
 'precise',
 'data',
 'type',
 'used,',
 'a',
 'variable',
 'declared',
 'to',
 'be',
 'a',
 'string',
 'may',
 'either',
 'cause',
 'storage',
 'in',
 'memory',
 'to',
 'be',
 'statically',
 'allocated',
 'for',
 'a',
 'predetermined',
 'maximum',
 'length',
 'or',
 'employ',
 'dynamic',
 'allocation',
 'to',
 'allow',
 'it',
 'to',
 'hold',
 'a',
 'variable',
 'number',
 'of',
 'elements.']

In [53]:
data= """In computer programming, a string is traditionally a sequence of characters, either as a literal constant or as some kind of variable. The latter may allow its elements to be mutated and the length changed, or it may be fixed (after creation). A string is generally considered as a data type and is often implemented as an array data structure of bytes (or words) that stores a sequence of elements, typically characters, using some character encoding. String may also denote more general arrays or other sequence (or list) data types and structures.
Depending on the programming language and precise data type used, a variable declared to be a string may either cause storage in memory to be statically allocated for a predetermined maximum length or employ dynamic allocation to allow it to hold a variable number of elements.
"""
data.replace("string","string in python")

'In computer programming, a string in python is traditionally a sequence of characters, either as a literal constant or as some kind of variable. The latter may allow its elements to be mutated and the length changed, or it may be fixed (after creation). A string in python is generally considered as a data type and is often implemented as an array data structure of bytes (or words) that stores a sequence of elements, typically characters, using some character encoding. String may also denote more general arrays or other sequence (or list) data types and structures.\nDepending on the programming language and precise data type used, a variable declared to be a string in python may either cause storage in memory to be statically allocated for a predetermined maximum length or employ dynamic allocation to allow it to hold a variable number of elements.\n'

In [54]:
data= """In computer programming, a string is traditionally a sequence of characters, either as a literal constant or as some kind of variable. The latter may allow its elements to be mutated and the length changed, or it may be fixed (after creation). A string is generally considered as a data type and is often implemented as an array data structure of bytes (or words) that stores a sequence of elements, typically characters, using some character encoding. String may also denote more general arrays or other sequence (or list) data types and structures.
Depending on the programming language and precise data type used, a variable declared to be a string may either cause storage in memory to be statically allocated for a predetermined maximum length or employ dynamic allocation to allow it to hold a variable number of elements.
"""
data.replace("s","p")

'In computer programming, a ptring ip traditionally a pequence of characterp, either ap a literal conptant or ap pome kind of variable. The latter may allow itp elementp to be mutated and the length changed, or it may be fixed (after creation). A ptring ip generally conpidered ap a data type and ip often implemented ap an array data ptructure of bytep (or wordp) that ptorep a pequence of elementp, typically characterp, uping pome character encoding. String may alpo denote more general arrayp or other pequence (or lipt) data typep and ptructurep.\nDepending on the programming language and precipe data type uped, a variable declared to be a ptring may either caupe ptorage in memory to be ptatically allocated for a predetermined maximum length or employ dynamic allocation to allow it to hold a variable number of elementp.\n'

In [10]:
#username and password
print("Kindly Enter Your Username And Password")
count = 0
while count<3:
    username = input("Enter Your Username: ")
    password = input("Enter Your Password: ")
    if username=='shreya' and password=='Shreya@25':
        print("Access Granted!")
        break
    else:
        print("Access Denied. Sorry, Try again.")
    count = count+1

Kindly Enter Your Username And Password
Enter Your Username: shreya
Enter Your Password: dsfgb
Access Denied. Sorry, Try again.
Enter Your Username: shreya
Enter Your Password: Shreya@25
Access Granted!

In [11]:
empty = [] #creation of empty list

In [12]:
num_list = [1,2,3,4,5] #numeric data
char_list = ["abc","xyz","pqr","ijk"] #character/string data
com_list=["abc",123,6.99,True] #hybrid/mixed data

In [13]:
print(num_list)
print(char_list)
print(com_list)

[1, 2, 3, 4, 5]
['abc', 'xyz', 'pqr', 'ijk']
['abc', 123, 6.99, True]

In [14]:
com_list [1:3] #start 1: end 2(end value not inclusive)

[123, 6.99]

In [15]:
com_list [:]

['abc', 123, 6.99, True]

In [16]:
com_list [1:]

[123, 6.99, True]

In [17]:
char_list [2:4]

['pqr', 'ijk']

In [18]:
len(com_list)

4

In [19]:
items = ['idily','dosa','pongal','briyani','barbeque']

In [3]:
items = ['idily','dosa','pongal','briyani','barbeque']

items[2]='vadai'

In [5]:
items = ['idily','dosa','pongal','briyani','barbeque']
items.append("pizza")

In [7]:
items = ['idily','dosa','pongal','briyani','barbeque']
items [-1:]

['barbeque']

In [11]:
char_list = ["abc","xyz","pqr","ijk"]

In [14]:
char_list = ["abc","xyz","pqr","ijk"]
char_list[2:0:-1]

['pqr', 'xyz']

In [16]:
char_list[::-1]#reverse a string

['ijk', 'pqr', 'xyz', 'abc']

In [18]:
new_items=["veg nudgets","french fries"]
items.append(new_items)
items

['idily',
 'dosa',
 'pongal',
 'briyani',
 'barbeque',
 ['veg nudgets', 'french fries'],
 ['veg nudgets', 'french fries']]

In [19]:
list3=new_items + ["idali sambar","dosa"] #concatenation
list3

['veg nudgets', 'french fries', 'idali sambar', 'dosa']

In [20]:
#index
#append single
#append directly list
#append list variable
#concatenation +

In [24]:
items1=["apple","orange","grapes"]
items2=["carrot","potato","cabbage"]
items1.append(items2)
print(items1)

['apple', 'orange', 'grapes', ['carrot', 'potato', 'cabbage']]

In [30]:
items1=["apple","orange","grapes"]
items1.remove("grapes")
items1

['apple', 'orange']

In [37]:
items1.pop(0)
items1

IndexError: pop from empty list

In [39]:
length=len(items)
length

7

In [41]:
print(i)

NameError: name 'i' is not defined

In [42]:
firstnames=["anisley","ben","chani","depak"]
preferedsize=["small","large","medium"]

In [45]:
#1-add depak size
preferedsize=["small","large","medium"]
preferedsize.append("medium")
preferedsize

['small', 'large', 'medium', 'medium']

In [51]:
firstnames=["anisley","ben","chani","depak"]
preferedsize=["small","large","medium"]
firstnames.append(preferedsize)
print(firstnames)

['anisley', 'ben', 'chani', 'depak', ['small', 'large', 'medium']]